// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$baby-white: #FCFCFC;

$red: #FD1015;
$red-stock: #c81912;

$blue: #167FFB;
$medium-blue: #0856a3;
$dark-blue: #325362;
$hard-dark-blue: #212529;
$pale-blue: #DCEAF6;
$light-blue-form: rgba(40, 73, 133, 0.8);
$light-dark-blue: #607d8b;
$light-pale-board-blue: #f4f6fd;

$warm-yellow: #fdbb30;
$light-yellow: #ffe196;
$very-light-yellow: #FFFFE5;
$dark-yellow: #DCB837;

$orange: #E67E22;
$orange-light: #FFC65A;
//initial-orange-mustard: rgba(200, 145, 45, 0.8);

$gray: #0E0000;
$light-gray: #F4F4F4;
$inventory-gray: #d8d8d8;
$medium-gray: #eaeaea;
$dark-gray: #7f7f7f;
$very-light-gray: #F8F9FA;
$light-pink: #FDF8F8;
$pink: #ffeae6;
$warm-pink: #ff6d4d;
$index-grey: #808080;
$grey-for-kpi: rgba(31, 42, 62, 0.6);

$green: #1EDD88;
$persian-green: #2bad9e;
$dark-persian-green: #1c7c71;

$medium-black: #1f2a3ecc;
