// Specific CSS for your home-page
.form-place {
  display: flex;
  justify-content: center;
}
.leaflet-top {
  top: 60px;
}
.main-container {
  height: 100%;
}
.container {
  height: 100%;
  padding-top: 70px;
}
