<div class="video-background">
  <video autoplay muted loop playsinline class="video-foreground">
      <source src="https://res.cloudinary.com/dzububqki/video/upload/v1623365769/Sunset_-_23070_ehddwe.mp4" type="video/mp4">
  </video>
</div>
