<div class="container">
  <div class="row"  style="background: white;">
    <h3>Liste de mes lieux de vacances</h3>
    <div class="order-adress-main">
      <div class="order-address-card">
        <div class="address-title"><%= @orderpdf.name %></div>
        <div class="address-name"><%= @orderpdf.address %></div>
      </div>
    </div>
  </div>
</div>
